.inputTextWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
}

.inputTextWrapper label {
  font-weight: bold;
}

.inputTextWrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.inputCheckboxWrapper {
  display: flex;
}

.inputCheckboxWrapper label {
  margin-left: 0.25rem;
}

.inputField {
  width: 100%;
  box-sizing: border-box;
}

.submitButton {
  display: block;
  border: none;
  text-decoration: underline;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.formGroup_row {
  display: flex;
  flex-direction: row;
}

.formGroup_column {
  display: flex;
  flex-direction: column;
}

.formGroupGap_small {
  gap: 8px;
}

.formGroupGap_medium {
  gap: 16px;
}

.formGroupGap_large {
  gap: 32px;
}
