.mainNavHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.mainNavHeader > * {
  text-decoration: none;
  margin-right: 0.5rem;
}

.mainNavHeader img {
  display: block;
}

.signInButton {
  font-weight: bold;
  color: #2c3e50;
}

.mainFooter {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}

.mainFooter > p {
  margin: 0;
}
