.layoutCtr {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainHeader {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--color-main-1);
}

.mainHeader > *,
.authenticatedUserInfos > a {
  text-decoration: none;
  margin-right: 0.5rem;
}

.mainHeader img {
  display: block;
}

.headerButton {
  font-weight: bold;
  color: #2c3e50;
}

.authenticatedUserInfos {
  display: flex;
  gap: 32px;
}

.authenticatedUserInfos > p {
  margin: 0;
  font-weight: 600;
}

.layoutCtr > main {
  flex: 1;
}

.mainFooter {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}

.mainFooter > p {
  margin: 0;
}

.skeletonLoader * {
  background-color: var(--color-skeleton-1);
  color: transparent;
  border-radius: 6px;
}
.skeletonLoader * {
  position: relative;
  overflow: hidden;
}

.skeletonLoader *::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  box-shadow: 0 0 80px 20px var(--color-skeleton-slide-1);
  animation: skeletonSlide 1s infinite ease-in-out;
}

@keyframes skeletonSlide {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}
