.expandableTable {
  margin-top: 10vh;
  width: 80%;
  table-layout: fixed;
}
.expandableTable > tbody {
  background-color: var(--color-main-1);
  outline: solid 2px var(--color-dark-3);
}
.expandableTable .tableChevron {
  width: 32px;
}

.transactionRow:hover {
  cursor: pointer;
  background-color: var(--color-fade-2);
}
.transactionDetails {
  background-color: var(--color-fade-1);
  text-align: left;
}
.transactionDetails[data-open='false'] {
  display: none;
}
.transactionEditDetail > p {
  display: inline-block;
  margin: 6px 0;
}
.transactionEditDetail button {
  background: unset;
  border: none;
}
