.usernameEditFormWrapper {
  width: 20%;
  margin: 0 auto;
}

.usernameEditFormWrapper input {
  text-align: center;
}

.usernameParagraph p {
  margin: 0;
  font-size: 2.3rem;
}

.editButton {
  border: none;
  background-color: transparent;
  padding: 4px;
  width: auto;
  border-radius: 18rem;
}

.editButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.editUsernameFormCta {
  flex: 0 1 100px;
  background-color: var(--color-main-1);
  color: var(--color-blue-1);
  padding: 6px;
  border-radius: 2px;
  border: solid 1px currentColor;
}
