.hero {
  background-image: url(bank-tree.jpeg);
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.heroContent {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}

.heroContent > .heroContentSubtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.heroContent > .heroContentText {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
}

.featuresItem {
  flex: 1;
  padding: 2.5rem;
}

.featuresItem > img {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }

  .heroContent {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }

  .heroContent > .heroContentSubtitle {
    font-size: 1.5rem;
  }

  .heroContent > .heroContentText {
    font-size: 1.2rem;
  }

  .featuresContainer {
    flex-direction: row;
  }
}
